#mContainer {
  position:relative;
  width:560px;
  height:40px;
  padding:0px;
  border-top:1px solid #000000;
  border-bottom:1px solid #000000;
}

#gradient {
  position:absolute;
  top:0px;
  left:0px;
  width:560px;
  height:40px;
  background-image:url("http://joomlacode.org/gf/project/afrikaans_taal/scmsvn/?action=browse&amp;path=%2F%2Acheckout%2A%2FTranslationUtilities%2Flongsaflag.gif&amp;revision");
  background-repeat:no-repeat;
}

#mask {
  position:absolute;
  font-size:1px;
  width:560px;
  height:40px;
  background-color:#FFFFFF;
  left:0px;
  top:0px;
}

#progressIndicator {
  position:absolute;
  top:0px;
  left:0px;
  width:560px;
  height:40px;
  font-family:verdana;
  font-weight:bold;
  color:#808080;
  font-size:24pt;
  text-align:center;
}

pre {
  background-color:#FAFAFA;
  border:1px solid #C0C0C0;
  padding:5px;
  font-family:verdana;
  font-size:9px;
}
